<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form (ngSubmit)="login()">
        <div class="modal-body">
          <div *ngIf="failedLogin" class="alert alert-danger" role="alert">
            Invalid Credentials
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="email"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="password"
            />
          </div>
          <div class="mb-3">
            <a href="/register">Don't have an account? Create here</a>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="closeButton"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <div class="blue rounded">
            <button type="submit" class="btn">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
