<!-- all products -->
<div class="container my-5">
  <!--Alerts-->
  <app-toaster
    [title]="toastTitle"
    [message]="toastMessage"
    [colorClass]="toastColorClass"
    [ready]="toastReady"
    (setReadyFalse)="this.toastReady=false"
  ></app-toaster>

  <div class="row">
    <!--Blank-->
    <div class="col-md-4"></div>
    <!--Search-->
    <div class="col-md-6">
      <app-search
        [productList]="productListForSearching"
        (productsEmitter)="searchedProducts($event)"
      ></app-search>
    </div>
    <!--Sort-->
    <div class="col-md-2">
      <app-sort
        [products]="products"
        (productsEmitter)="modifyProducts($event)"
      ></app-sort>
    </div>
  </div>
  <div class="row">
    <!--Filter-->
    <app-filters
      [categories]="categories"
      [brands]="brands"
      [products]="products"
      [fixedProducts]="fixedProducts"
      (productsEmitter)="modifyProducts($event)"
      class="col-md-3"
    ></app-filters>
    <!--Products-->
    <div
      class="col-md-9"
      *ngIf="products != null && products.length !== 0; else noProducts"
    >
      <div class="row">
        <div
          *ngFor="
            let product of products
              | paginate : { itemsPerPage: 6, currentPage: p }
          "
          class="col-sm-4 my-2"
        >
          <app-product
            [product]="product"
            (addToCartEmitter)="showToast($event)"
          ></app-product>
        </div>
        <!-- Pagination -->
        <pagination-controls
          (pageChange)="p = $event"
          class="my-pagination my-2 d-flex justify-content-center"
        ></pagination-controls>
      </div>
    </div>
    <!--if no products are available-->
    <ng-template #noProducts>
      <div class="text-center col-md-8">
        <img
          src="/assets/image/no-product-found.png"
          alt="cart empty"
          class="rounded img-fluid"
        />
        <br />
      </div>
    </ng-template>
  </div>
</div>
