<!--Orders-->
<div class="container my-5">
  <!--Table-->
  <div class="table-responsive">
    <table class="table align-middle text-center table-hover caption-top">
      <caption>
        All Orders
      </caption>
      <!--Columns-->
      <thead class="accent">
        <tr>
          <th scope="col" (click)="sortBy('id')">
            Order Id &nbsp; <fa-icon [icon]="sortIcon"></fa-icon>
          </th>
          <th scope="col" (click)="sortBy('customer.user.name')">
            Customer Name &nbsp; <fa-icon [icon]="sortIcon"></fa-icon>
          </th>
          <th scope="col" (click)="sortBy('timestamp')">
            Placed On &nbsp; <fa-icon [icon]="sortIcon"></fa-icon>
          </th>
          <th scope="col" (click)="sortBy('price')">
            Price &nbsp; <fa-icon [icon]="sortIcon"></fa-icon>
          </th>
          <th scope="col" (click)="sortBy('paymentMethod')">
            Payment Method &nbsp; <fa-icon [icon]="sortIcon"></fa-icon>
          </th>
          <th scope="col" (click)="sortBy('cart.length')">
            Number of Products &nbsp; <fa-icon [icon]="sortIcon"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <!--Data-->
      <tbody class="table-group-divider">
        <tr
          *ngFor="
            let i of order
              | paginate : { itemsPerPage: 10, currentPage: p }
              | orderBy : orderVariable : orderReverse
          "
        >
          <th scope="row">{{ i.id }}</th>
          <td>{{ i.customer.user.name | titlecase }}</td>
          <td>{{ i.timestamp | date : "medium" }}</td>
          <td>{{ i.price | currency : "INR" }}</td>
          <td>{{ i.paymentMethod }}</td>
          <td>{{ i.cart.length }}</td>
          <!--Order Detail-->
          <td>
            <button
              type="button"
              class="btn primary text-white"
              data-bs-toggle="modal"
              attr.data-bs-target="#orderModal{{ i.id }}"
            >
              More
            </button>
            <app-order-detail [order]="i" class="text-start"></app-order-detail>
          </td>
        </tr>
      </tbody>
      <!--Pagination-->
      <tfoot>
        <th colspan="7" class="text-center">
          <pagination-controls
            (pageChange)="p = $event"
            class="my-pagination my-2"
          ></pagination-controls>
        </th>
      </tfoot>
    </table>
  </div>
</div>
