<div
  class="modal fade"
  id="addInventory{{item.product.id}}"
  tabindex="-1"
  aria-labelledby="addInventoryLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addInventoryLabel">
          {{ item.product.name | titlecase }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form (ngSubmit)="modifyItem()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="quantity" class="col-form-label">Quantity:</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
              min="1"
              [(ngModel)]="quantity"
              autofocus
              required
            />
          </div>
          <div class="d-inline-flex mb-3">
              <h6 class="form-check-label mx-1">Reduce Stock</h6>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="addOrReduce" (click)="modifySwitch($event)" checked>
                <label class="form-check-label" for="addOrReduce">Add Stock</label>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            id="close{{item.product.id}}"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <div class="accent rounded">
            <button type="submit" class="text-white btn">Modify</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
