<!-- Customer's cart -->
<div
  class="container my-5"
  *ngIf="cart != null && cart.length !== 0; else emptyCart"
>
  <!--Alerts-->
  <app-toaster
    [title]="toastTitle"
    [message]="toastMessage"
    [colorClass]="toastColorClass"
    [ready]="toastReady"
    (setReadyFalse)="toastReady = false"
  >
  </app-toaster>

  <!--Cart List-->
  <div
    class="mx-5"
    *ngFor="
      let cartItem of cart | paginate : { itemsPerPage: 5, currentPage: p }
    "
  >
    <app-cart-item
      [item]="cartItem"
      (deleteFromCart)="removeItem($event)"
      (modifyCartQuantity)="modifyCartQuantity($event)"
    ></app-cart-item>
  </div>
  <!--Pagignation-->
  <pagination-controls
    (pageChange)="p = $event"
    class="my-pagination my-2 d-flex justify-content-center"
  ></pagination-controls>
  <!-- Place order -->
  <div class="d-flex flex-row-reverse">
    <div class="rounded accent mx-5">
      <button
        type="button"
        class="btn"
        routerLink="/customer/cart/place-order"
      >
        Place order
      </button>
    </div>
  </div>
</div>
<!-- If no items are present in cart -->
<ng-template #emptyCart>
  <div class="text-center">
    <img src="assets/image/emptyCart.png" alt="cart empty" class="img-fluid" />
    <br />
    <!-- Route to customer home -->
    <a routerLink="/customer/" class="text-decoration-none">Keep Shopping.</a>
  </div>
</ng-template>
