<!-- Customer's cart -->
<div
  class="container my-5"
  *ngIf="cart != null && cart.length !== 0; else emptyCart"
>
  <div
    class="alert alert-info alert-dismissible fade show"
    role="alert"
    *ngIf="itemRemoved"
  >
    <strong>Success!</strong> Item removed from cart. Keep Shopping
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="itemRemoved = !itemRemoved"
    ></button>
  </div>
  <div class="mx-5" *ngFor="let cartItem of cart">
    <app-cart-item
      [item]="cartItem"
      (deleteFromCart)="removeItem($event)"
    ></app-cart-item>
  </div>
  <!-- Place order -->
  <div class="d-flex flex-row-reverse">
    <div class="rounded blue mx-5">
      <button type="button" class="btn" routerLink="/customer/cart/place-order">
        Place order
      </button>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <div class="text-center">
    <img src="/assets/image/emptyCart.png" alt="cart empty" class="img-fluid" />
    <br />
    <a routerLink="/customer/" class="text-decoration-none">Keep Shopping.</a>
  </div>
</ng-template>
