<div class="container my-5">
  <h3 class="text-center">Inventory</h3>
  <div class="d-flex flex-row-reverse">
    <button
      id="addProductButton"
      class="btn btn-outline-success rounded-pill"
      data-bs-toggle="tooltip"
      title="Add new Product"
      routerLink="/manager/add-product"
    >
    <div class="d-inline-flex">
      <p id="onHoverShow" class="text-center my-0 mx-2">Add New Product</p>
      <fa-icon [icon]="plus"></fa-icon>
    </div>
    </button>
  </div>
  <div class="row">
    <div class="col-md-4 my-2" *ngFor="let i of inventory">
      <app-inventory-item [item]="i"></app-inventory-item>
    </div>
  </div>
</div>
