<!--Manager Home-->
<div class="container my-5">
  <!--Alerts-->
  <app-toaster
    [title]="toastTitle"
    [message]="toastMessage"
    [colorClass]="toastColorClass"
    [ready]="toastReady"
    (setReadyFalse)="this.toastReady=false"
  ></app-toaster>

  <h3 class="text-center">Inventory</h3>
  <!-- Add Product -->
  <div class="d-flex flex-row-reverse">
    <button
      id="addProductButton"
      class="btn btn-outline-success rounded-pill"
      data-bs-toggle="tooltip"
      title="Add new Product"
      routerLink="/manager/add-product"
    >
      <div class="d-inline-flex">
        <p id="onHoverShow" class="text-center my-0 mx-2">Add New Product</p>
        <fa-icon [icon]="plus"></fa-icon>
      </div>
    </button>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <!--Search-->
    <div class="col-md-6">
      <app-search
        [productList]="productListForSearching"
        (productsEmitter)="searchedProducts($event)"
      ></app-search>
    </div>
    <!--Sort-->
    <div class="col-md-2">
      <app-sort
        [products]="products"
        (productsEmitter)="modifyProducts($event)"
      ></app-sort>
    </div>
  </div>
  <div class="row">
    <!--Filter-->
    <div class="col-md-3">
      <app-filters
        [categories]="category"
        [brands]="brand"
        [products]="products"
        [fixedProducts]="fixedProducts"
        (productsEmitter)="modifyProducts($event)"
      ></app-filters>
    </div>
    <!--Inventory List-->
    <div class="col-md-9" *ngIf="inventory != null && inventory.length !== 0; else noProducts">
      <div class="row">
        <div class="col-md-4 my-2" *ngFor="let i of inventory| paginate: {itemsPerPage: 6, currentPage: p}">
          <app-inventory-item [item]="i" (stockModifyEmitter)="stockQuantityToToast($event)"></app-inventory-item>
        </div>
      </div>
      <!--Pagination-->
      <pagination-controls (pageChange)="p = $event" class="my-pagination my-2 d-flex justify-content-center"></pagination-controls>
    </div>
    <!--if no products are available-->
    <ng-template #noProducts>
      <div class="text-center col-md-9">
        <img
          src="assets/image/no-product-found.png"
          alt="cart empty"
          class="rounded img-fluid"
        />
        <br />
      </div>
    </ng-template>
  </div>
</div>
