<nav class="navbar navbar-expand-lg purple">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <img
        src="favicon.ico"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      BigMart
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="rounded peach" *ngIf="!authenticated">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Login
        </button>
      </div>
      <!-- model -->
      <app-login (loginEmitter)="loggedIn()"></app-login>
      <div class="rounded peach" *ngIf="authenticated">
        <app-logout (logoutEmitter)="loggedOut()"></app-logout>
      </div>
    </div>
  </div>
</nav>
