<nav class="navbar navbar-expand-lg primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">
      <img
        src="favicon.ico"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      BigMart
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar for UnAuthenticated -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="role == null">
      </ul>
      <!-- Navbar for Customer -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="role === 'Customer'">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-white" aria-current="page" routerLink="/customer">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/customer/cart">Cart</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/customer/order">My Order</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/customer/profile">Profile</a>
        </li>
      </ul>
      <!-- Navbar for Manager -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="role === 'Manager'">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link text-white" aria-current="page" routerLink="/manager">Inventory</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/manager/add-product">Add Product</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/manager/order">Orders</a>
        </li>
      </ul>
      <div class="d-grid text-center rounded accent" *ngIf="!authenticated">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Login
        </button>
      </div>
      <!-- model -->
      <app-login (loginEmitter)="loggedIn($event)"></app-login>
      <div class="text-center rounded accent" *ngIf="authenticated">
        <app-logout class="d-grid" (logoutEmitter)="loggedOut()"></app-logout>
      </div>
    </div>
  </div>
</nav>
