<div class="container my-5">
  <!--Alerts-->
  <app-toaster
    [title]="toastTitle"
    [message]="toastMessage"
    [colorClass]="toastColorClass"
    [ready]="toastReady"
    (setReadyFalse)="this.toastReady=false"
  ></app-toaster>

  <div class="table-responsive">
    <table class="table align-middle text-center table-hover caption-top">
      <caption>
        Your Orders
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col" (click)="sortBy('id')" >Order Id &nbsp; <fa-icon [icon]="sortIcon"></fa-icon> </th>
          <th scope="col" (click)="sortBy('timestamp')" >Placed On &nbsp; <fa-icon [icon]="sortIcon"></fa-icon> </th>
          <th scope="col" (click)="sortBy('price')" >Price &nbsp; <fa-icon [icon]="sortIcon"></fa-icon> </th>
          <th scope="col" (click)="sortBy('paymentMethod')" >Payment Method &nbsp; <fa-icon [icon]="sortIcon"></fa-icon> </th>
          <th scope="col"> Products </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr
          *ngFor="
            let i of allOrders | paginate : { itemsPerPage: 10, currentPage: p } | orderBy: orderVariable:orderReverse
          "
        >
          <th scope="row">{{ i.id }}</th>
          <td>{{ i.timestamp | date : "medium" }}</td>
          <td>{{ i.price | currency : "INR" }}</td>
          <td>{{ i.paymentMethod }}</td>
          <td class="text-start text-truncate" style="max-width: 100px;" >
            <span *ngFor="let p of i.cart">
              {{p.product.name}} 
            </span>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              attr.data-bs-target="#orderModal{{ i.id }}"
            >
              More
            </button>

            <!-- Vertically centered scrollable modal -->
            <div
              class="modal fade text-start"
              id="orderModal{{ i.id }}"
              tabindex="-1"
              attr.aria-labelledby="modalLabel{{ i.id }}"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel{{ i.id }}">
                      Order ID: {{ i.id }}
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      id="moreCloseModal{{ i.id }}"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <h6>
                      Shipped To:
                      {{ i.customer.address.houseNo | titlecase }} ,
                      {{ i.customer.address.addressLine1 | titlecase }} ,
                      {{ i.customer.address.addressLine2 | titlecase }} ,
                      {{ i.customer.address.city | titlecase }} ,
                      {{ i.customer.address.state | titlecase }} -
                      {{ i.customer.address.pincode }}
                    </h6>
                    <h3 class="text-center">Items</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          <tr *ngFor="let p of i.cart">
                            <td>
                              <a
                                routerLink="/product/{{ p.product.id }}"
                                style="text-decoration: none"
                                (click)="closeMoreModal(i.id)"
                              >
                                {{ p.product.name }}
                              </a>
                            </td>
                            <td>{{ p.product.brand }}</td>
                            <td>{{ p.product.category.categoryName }}</td>
                            <td>{{ p.quantity }}</td>
                            <td>
                              <div
                                *ngIf="
                                  !reviewedProductId.includes(p.product.id)
                                "
                                class="d-grid text-center rounded accent"
                              >
                                <!-- Button trigger modal -->
                                <button
                                  class="btn text-white"
                                  data-bs-toggle="modal"
                                  data-bs-target="#addReviewModal"
                                  (click)="editModal(p.product, i.id)"
                                >
                                  Review
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <h6>
                      Total: {{ i.price | currency : "INR" }} by
                      {{ i.paymentMethod }}
                    </h6>
                    <h6>Placed On: {{ i.timestamp | date : "medium" }}</h6>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <th colspan="7" class="text-center">
          <pagination-controls
            (pageChange)="p = $event"
            class="my-pagination my-2"
          ></pagination-controls>
        </th>
      </tfoot>
    </table>
  </div>

</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addReviewModal"
  tabindex="-1"
  aria-labelledby="addReviewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addReviewModalLabel"></h1>
        <button
          type="button"
          id="reviewCloseButton"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="addReview" (ngSubmit)="submitReview()">
        <div class="modal-body">
          <label for="reviewRating" class="form-label">Rating</label>
          <app-star-rating [rating]="ratingStar"></app-star-rating>
          <div class="d-flex justify-content-between">
            <p>1(Low)</p>
            <p>5(High)</p>
          </div>
          <input
            type="range"
            class="form-range"
            min="1"
            max="5"
            step="1"
            id="reviewRating"
            aria-label="Rating"
            formControlName="rating"
            (change)="changeRating($event)"
          />
          <div class="mb-3">
            <label for="reviewComment" class="form-label"
              >Review <span class="text-muted">(Optional)</span></label
            >
            <textarea
              class="form-control"
              id="reviewComment"
              rows="3"
              placeholder="Your Opinion about the product"
              maxlength="65535"
              formControlName="comment"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="reviewImages" class="form-label"
              >Product Images <span class="text-muted">(Optional)</span></label
            >
            <input
              class="form-control"
              type="file"
              id="reviewImages"
              accept="image/*"
              multiple
              (change)="onImageChange($event)"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!addReview.valid"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
