<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ item.product.imagePath[0].split('src/')[1] }}"
        class="img-fluid rounded-start border"
        alt="{{ item.product.name }}"
        style="width: 100%; height: 200px; object-fit: cover"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">{{ item.product.name | titlecase}}</h5>
          <fa-icon
            class="text-danger"
            [icon]="trash"
            data-bs-toggle="tooltip"
            title="Remove from cart"
            (click)="removeFromCart()"
          ></fa-icon>
        </div>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.product.brand==" "?"----":item.product.brand | titlecase}}</h6>
        <p class="card-text">
          Price: {{ item.product.price | currency : "INR" }}
        </p>
        <div class="d-flex justify-content-between">
          <div
            class="btn-group btn-group-sm"
            role="group"
            aria-label="Basic mixed styles example"
          >
            Quantity:
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="cartItemQuantityEditor(-1)"
              [attr.disabled]="item.quantity <= 1 ? true : null"
            >
              <fa-icon [icon]="minus"></fa-icon>
            </button>
            <input
              class="form-control text-center form-control-sm"
              type="number"
              style="flex-grow: 0; flex-basis: 75px"
              value="{{ item.quantity }}"
              readonly
            />
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="cartItemQuantityEditor(1)"
            >
              <fa-icon [icon]="plus"></fa-icon>
            </button>
          </div>

          <p class="card-text">
            <small class="text-muted"
              >Total:
              {{ item.product.price * item.quantity | currency : "INR" }}</small
            >
          </p>
        </div>
      </div>
      <div class="card-footer">
        <h6 class="text-muted">
          Last updated: {{ item.addedOn | date : "EEEE, dd-MMM-yyyy hh:mm aa" }}
        </h6>
      </div>
    </div>
  </div>
</div>
