<!--Inventory item-->
<div class="card">
  <!--Product Images-->
  <div attr.id="carouselExample{{ item.product.id }}" class="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let image of item.product.imagePath; let i = index"
        [attr.data-index]="i"
      >
        <div class="carousel-item" [ngClass]="i === 0 ? 'active' : ''">
          <img
            src="{{ seperator+image.split(seperator)[1] }}"
            class="card-img-top img-fluid"
            alt="{{ i }}"
            style="width: 100%; height: 250px; object-fit: cover"
          />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      attr.data-bs-target="#carouselExample{{ item.product.id }}"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      attr.data-bs-target="#carouselExample{{ item.product.id }}"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Product Details-->
  <div class="card-body">
    <a
      routerLink="/product/{{ item.product.id }}"
      style="color: #000000; text-decoration: none"
    >
      <h6 class="card-subtitle mb-2 text-muted">
        {{ item.product.category.categoryName | titlecase }}
      </h6>
      <h5 class="card-title">{{ item.product.name | titlecase }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ item.product.brand | titlecase }}
      </h6>
      <div class="d-flex justify-content-between">
        <p>{{ item.product.price | currency : "INR" }}</p>
        <!--Stars-->
        <p>
          <app-star-rating [rating]="item.product.rating"> </app-star-rating>
        </p>
      </div>
    </a>
    <div class="d-flex justify-content-between">
      <h6>Stock: {{ item.quantity }}</h6>
      <!--Modify stock modal trigger button-->
      <div class="d-grid text-center rounded primary">
        <button
          class="btn text-white"
          data-bs-toggle="modal"
          attr.data-bs-target="#addInventory{{ item.product.id }}"
        >
          Modify Stock
        </button>
      </div>
    </div>
    <!-- Modify Modal -->
    <app-add-inventory
      [item]="item"
      (modifyInventoryEmitter)="modifyInventoryQuantity($event)"
    >
    </app-add-inventory>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between">
      <p class="text-muted">
        <!--Imported on-->
        <small>
          Imported on:
          {{
            item.lastImportDate == undefined
              ? "----"
              : (item.lastImportDate | date : "mediumDate")
          }}
        </small>
      </p>
      <!--Sold On-->
      <p class="text-muted">
        <small>
          Sold on:
          {{
            item.lastSoldDate == undefined
              ? "----"
              : (item.lastSoldDate | date : "mediumDate")
          }}
        </small>
      </p>
    </div>
  </div>
</div>
