<div class="container w-50 mt-5">
  <!--Alerts-->
  <app-toaster
    [title]="toastTitle"
    [message]="toastMessage"
    [colorClass]="toastColorClass"
    [ready]="toastReady"
    (setReadyFalse)="this.toastReady = false"
  ></app-toaster>
  <!--Register Form-->
  <form
    class="g-3 needs-validation"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <h1 class="text-center">Register</h1>
    <div class="row mb-2">
      <!--First Name-->
      <div class="col-md-6">
        <label for="firstName" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.firstName.touched
              ? f.firstName.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          formControlName="firstName"
          id="firstName"
          name="firstName"
          placeholder="Mark"
          required
          maxlength="15"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.firstName.errors?.['required']" class="invalid-feedback">
          First Name is required.
        </div>
      </div>
      <!--Last Name-->
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.lastName.touched
              ? f.lastName.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          formControlName="lastName"
          id="lastName"
          name="lastName"
          placeholder="Otto"
          required
          maxlength="15"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.lastName.errors?.['required']" class="invalid-feedback">
          Last Name is required.
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <!--Phone-->
      <div class="col-md-4">
        <label for="phone" class="form-label">Phone Number</label>
        <input
          type="number"
          class="form-control"
          [ngClass]="
            f.phone.touched ? (f.phone.invalid ? 'is-invalid' : 'is-valid') : ''
          "
          formControlName="phone"
          id="phone"
          name="phone"
          required
          min="1000000000"
          max="9999999999"
          placeholder="80595XXXXX"
        />
        <div class="form-text">10 digits number</div>
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.phone.errors?.['required']" class="invalid-feedback">
          Phone number is required.
        </div>
        <div *ngIf="f.phone.errors?.['min']" class="invalid-feedback">
          Phone number should be of 10 digits
        </div>
        <div *ngIf="f.phone.errors?.['max']" class="invalid-feedback">
          Phone number should be of 10 digits
        </div>
      </div>
      <!--Date of Birth-->
      <div class="col-md-4">
        <label for="dob" class="form-label">Date of Birth</label>
        <input
          type="date"
          class="form-control"
          [ngClass]="
            f.dob.touched ? (f.dob.invalid ? 'is-invalid' : 'is-valid') : ''
          "
          id="dob"
          name="dob"
          formControlName="dob"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.dob.errors?.['required']" class="invalid-feedback">
          Date of Birth is required.
        </div>
      </div>
      <div class="col-md-4">
        <!--Gender-->
        <label for="gender" class="form-label">Gender</label><br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="male"
            name="gender"
            value="male"
            checked
          />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="female"
            name="gender"
            value="female"
          />
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <!--Email-->
      <div class="col-md-6">
        <label for="userEmail" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          [ngClass]="
            f.email.touched ? (f.email.invalid ? 'is-invalid' : 'is-valid') : ''
          "
          id="userEmail"
          name="email"
          formControlName="email"
          placeholder="Mark12@mail.com"
          required
          maxlength="50"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.email.errors?.['required']" class="invalid-feedback">
          Email is required.
        </div>
        <div *ngIf="f.email.errors?.['email']" class="invalid-feedback">
          Enter valid email.
        </div>
        <div *ngIf="f.email.errors?.['maxLength']" class="invalid-feedback">
          Email should not exceed 50 characters.
        </div>
      </div>
      <!--Password-->
      <div class="col-md-6">
        <label for="userPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="
            f.password.touched
              ? f.password.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          id="userPassword"
          name="password"
          formControlName="password"
          required
          minlength="8"
        />
        <div class="form-text">
          For secure password use combination of upper-case, lower-case,
          numbers, and special characters greater than 8 characters.
        </div>
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.password.errors?.['required']" class="invalid-feedback">
          Password is required
        </div>
        <div *ngIf="f.password.errors?.['minLength']" class="invalid-feedback">
          Minimun password should be at least 8 characters
        </div>
        <div *ngIf="f.password.errors?.['pattern']" class="invalid-feedback">
          1 upper-case, 1 lower-case, 1 numbers & 1 special character of minimum
          8 characters required
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <!--House No-->
      <div class="col-md-4">
        <label for="houseNo" class="form-label">House No</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.houseNo.touched
              ? f.houseNo.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          id="houseNo"
          name="houseNo"
          formControlName="houseNo"
          placeholder="A-123, White House"
          required
          maxlength="30"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.houseNo.errors?.['required']" class="invalid-feedback">
          House Number is required.
        </div>
        <div *ngIf="f.houseNo.errors?.['maxLength']" class="invalid-feedback">
          House Number should not exceed 30 characters.
        </div>
      </div>
      <!--Address Line 1-->
      <div class="col-md-8">
        <label for="addressLine1" class="form-label">Address Line 1</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.houseNo.touched
              ? f.houseNo.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          id="addressLine1"
          name="addressLine1"
          formControlName="addressLine1"
          placeholder="Abc road, near tower"
          required
          maxlength="50"
        />
        <div class="valid-feedback">Looks good!</div>
        <div
          *ngIf="f.addressLine1.errors?.['required']"
          class="invalid-feedback"
        >
          Address Line 1 is required.
        </div>
        <div
          *ngIf="f.addressLine1.errors?.['maxLength']"
          class="invalid-feedback"
        >
          Address Line 1 should not exceed 50 characters.
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <!--Address Line 2-->
      <div class="col-md-12">
        <label for="addressLine2" class="form-label">Address Line 2</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.addressLine2.touched
              ? f.addressLine2.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          id="addressLine2"
          name="addressLine2"
          formControlName="addressLine2"
          maxlength="50"
        />
      </div>
      <div
        *ngIf="f.addressLine2.errors?.['maxLength']"
        class="invalid-feedback"
      >
        Address Line 2 should not exceed 50 characters.
      </div>
    </div>
    <div class="row mb-2">
      <!--City-->
      <div class="col-md-4">
        <label for="city" class="form-label">City</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.city.touched ? (f.city.invalid ? 'is-invalid' : 'is-valid') : ''
          "
          id="city"
          name="city"
          formControlName="city"
          required
          placeholder="Mumbai"
          maxlength="30"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.city.errors?.['required']" class="invalid-feedback">
          City is required.
        </div>
        <div *ngIf="f.city.errors?.['maxLength']" class="invalid-feedback">
          City should not exceed 30 characters.
        </div>
      </div>
      <!--State-->
      <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="
            f.state.touched ? (f.state.invalid ? 'is-invalid' : 'is-valid') : ''
          "
          id="state"
          name="state"
          formControlName="state"
          required
          placeholder="Maharashtra"
          maxlength="30"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.state.errors?.['required']" class="invalid-feedback">
          State is required.
        </div>
        <div *ngIf="f.state.errors?.['maxLength']" class="invalid-feedback">
          State should not exceed 30 characters.
        </div>
      </div>
      <!--Pincode-->
      <div class="col-md-4">
        <label for="pincode" class="form-label">Pincode</label>
        <input
          type="number"
          class="form-control"
          [ngClass]="
            f.pincode.touched
              ? f.pincode.invalid
                ? 'is-invalid'
                : 'is-valid'
              : ''
          "
          id="pincode"
          name="pincode"
          formControlName="pincode"
          min="100000"
          max="999999"
          required
          placeholder="123456"
        />
        <div class="form-text">6 Digits pincode</div>
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="f.pincode.errors?.['required']" class="invalid-feedback">
          Pincode is required.
        </div>
        <div *ngIf="f.pincode.errors?.['min']" class="invalid-feedback">
          Pincode should be of 6 digits
        </div>
        <div *ngIf="f.pincode.errors?.['max']" class="invalid-feedback">
          Pincode should be of 6 digits
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <!--Agree terms and conditions-->
      <div class="col-auto mt-2">
        <div class="form-check">
          <input
            class="form-check-input"
            [ngClass]="
              f.agreeTermsAndConditions.touched
                ? f.agreeTermsAndConditions.invalid
                  ? 'is-invalid'
                  : 'is-valid'
                : ''
            "
            type="checkbox"
            id="invalidCheck"
            formControlName="agreeTermsAndConditions"
            required
          />
          <label class="form-check-label" for="invalidCheck">
            By clicking this you agree with our
              <!--Modal toggler-->
              <button
                type="button"
                class="btn btn-link px-0"
                data-bs-toggle="modal"
                data-bs-target="#termsCondition"
              >
                terms and conditions
              </button>
          </label>
          <div
            *ngIf="f.agreeTermsAndConditions.errors?.['required']"
            class="invalid-feedback"
          >
            Must agree to terms and condititons before submitting.
          </div>
        </div>
      </div>
    </div>
    <!--Submit form-->
    <div class="row mb-2">
      <div class="col-md-12 d-grid">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
      </div>
    </div>
  </form>
</div>

<!--Terms and Conditions modal-->
<app-terms-condition></app-terms-condition>
