<!-- Manager Dashboard -->
<div class="container my-5">
  <!--Alerts-->
  <app-toaster
    [title]="toastTitle"
    [message]="toastMessage"
    [colorClass]="toastColorClass"
    [ready]="toastReady"
    (setReadyFalse)="this.toastReady = false"
  ></app-toaster>

  <!-- First Row -->
  <div class="row my-3">
    <div class="card cardi">
      <div class="card-body">
        <!-- Greeting message -->
        <h4 class="card-text">{{ greeting }}</h4>
        <br />
        <div class="row">
          <!-- Sales -->
          <div class="col-sm-3">
            <app-small-data
              [icon]="sales"
              [text]="'Sales'"
              [value]="salesValue"
              [color]="'purple'"
            ></app-small-data>
          </div>
          <!-- Customers -->
          <div class="col-sm-3">
            <app-small-data
              [icon]="customers"
              [text]="'Customers'"
              [value]="customersValue"
              [color]="'yellow'"
            ></app-small-data>
          </div>
          <!-- Products -->
          <div class="col-sm-3">
            <app-small-data
              [icon]="products"
              [text]="'Products'"
              [value]="productsValue"
              [color]="'green'"
            ></app-small-data>
          </div>
          <!-- Revenue -->
          <div class="col-sm-3">
            <app-small-data
              [icon]="revenue"
              [text]="'Revenue'"
              [value]="revenueValue"
              [color]="'sky-blue'"
            ></app-small-data>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Second Row -->
  <div class="row my-3">
    <!-- No of Products by rating (Radar Chart)-->
    <div class="col-md-4">
      <app-radar-chart
        (errorEmitter)="toastForwarder($event)"
      ></app-radar-chart>
    </div>
    <!-- Payment Method count (Pie Chart) -->
    <div class="col-md-4">
      <app-pie-chart (errorEmitter)="toastForwarder($event)"></app-pie-chart>
    </div>
    <!-- 6 small data -->
    <div class="col-md-4">
      <div class="row">
        <!--Daily-->
        <div class="col-sm-6 mb-1">
          <div class="card cardi">
            <div class="card-body">
              <app-small-data
                [text]="'Today Sales'"
                [color]="'purple'"
                [value]="todaySale"
                [icon]="todayIcon"
              ></app-small-data>
            </div>
          </div>
        </div>
        <!--Weekly-->
        <div class="col-sm-6 mb-1">
          <div class="card cardi">
            <div class="card-body">
              <app-small-data
                [text]="'Week Sales'"
                [color]="'yellow'"
                [value]="weekSale"
                [icon]="weekIcon"
              ></app-small-data>
            </div>
          </div>
        </div>
        <!--Monthly-->
        <div class="col-sm-6 my-1">
          <div class="card cardi">
            <div class="card-body">
              <app-small-data
                [text]="'Month Sales'"
                [color]="'green'"
                [value]="monthSale"
                [icon]="monthIcon"
              ></app-small-data>
            </div>
          </div>
        </div>
        <!--Yearly-->
        <div class="col-sm-6 my-1">
          <div class="card cardi">
            <div class="card-body">
              <app-small-data
                [text]="'Year Sales'"
                [color]="'sky-blue'"
                [value]="yearSale"
                [icon]="yearIcon"
              ></app-small-data>
            </div>
          </div>
        </div>
      </div>

      <!--Order low,avg,high-->
      <div class="card cardi">
        <div class="card-body row">
          <p class="text-center"><strong>Order Price</strong></p>

          <!--Lowest order Price-->
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col text-white mb-1">
                <fa-icon class="rounded-2 py-2 px-2 maroon" [icon]="lowestOrderIcon" size="xl"></fa-icon>
              </div>
              <div class="col">
                <div class="row">
                  <h6 class="text-muted">Lowest</h6>
                </div>
                <div class="row">
                  <h4 class="ps-3">{{ lowestOrderPrice }}</h4>
                </div>
              </div>
            </div>
          </div>
          
          <!--Average order Price-->
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col text-white mb-1">
                <fa-icon class="rounded-2 py-2 px-2 grey" [icon]="averageOrderIcon" size="xl"></fa-icon>
              </div>
              <div class="col">
                <div class="row">
                  <h6 class="text-muted">Average</h6>
                </div>
                <div class="row">
                  <h4 class="ps-3">{{ averageOrderPrice }}</h4>
                </div>
              </div>
            </div>
          </div>

          <!--Highest Order Price-->
          <div class="col-sm-4 text-center">
            <div class="row">
              <div class="col text-white mb-1">
                <fa-icon class="rounded-2 py-2 px-2 green" [icon]="highestOrderIcon" size="xl"></fa-icon>
              </div>
              <div class="col">
                <div class="row">
                  <h6 class="text-muted">Highest</h6>
                </div>
                <div class="row">
                  <h4 class="ps-3">{{ highestOrderPrice }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Third Row-->
  <div class="row my-3">
    <!--Sales by category (Bar Graph)-->
    <div class="col-md-6">
      <app-bar-chart (errorEmitter)="toastForwarder($event)"></app-bar-chart>
    </div>
    <!--Sales for current year/month (Line Graph)-->
    <div class="col-md-6">
      <app-line-chart (errorEmitter)="toastForwarder($event)"></app-line-chart>
    </div>
  </div>
</div>
