/* You can add global styles to this file, and also import other style files */
.purple{
    background-color: #712cf9;
}

.blue{
    background-color: #A28BBE;
}

.peach{
    background-color: #64BAAA;
}

.yellow{
    background-color: #FBEAFF;
}

.new-font{
    font-family: 'Roboto Condensed', sans-serif;
}