/* You can add global styles to this file, and also import other style files */
.primary {
  background-color: #712cf9;
}

.secondary {
  background-color: #fbeaff;
}

.accent {
  background-color: #64baaa;
}

.golden-star{
  color: #FFD700;
}

.new-font {
  font-family: "Roboto Condensed", sans-serif;
}