/* You can add global styles to this file, and also import other style files */
.primary {
  background-color: #00B8A9 !important;
}

.secondary {
  background-color: #F8F3D4 !important;
}

.accent {
  background-color: #f0b70e !important;
}

.golden-star{
  color: #FFD700;
}

.new-font {
  font-family: "Roboto Condensed", sans-serif;
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.cardi:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}