<!--Add to Cart-->
<div class="d-grid text-center rounded primary mb-3">
  <!--Button to turn on +/- and quantity options-->
  <button
    class="btn text-white"
    (click)="showQuantity = !showQuantity"
    *ngIf="!showQuantity"
  >
    Add to Cart
  </button>
</div>
<!--When button is turned on-->
<div class="container" *ngIf="showQuantity">
  <div class="row">
    <!--Closes current +/- quantity buttons and switch back to add to cart button-->
    <div class="col-sm-2 d-grid mb-3">
      <button
        id="close{{ productId }}"
        class="btn btn-danger"
        (click)="showQuantity = !showQuantity"
        data-bs-toggle="tooltip"
        title="Cancel"
      >
        <fa-icon [icon]="cancel"></fa-icon>
      </button>
    </div>
    <!-- +/- quantity group -->
    <div class="col-sm-8 mb-3">
      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <!-- Decrease quantity by 1 -->
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="quantity = quantity - 1"
          [attr.disabled]="quantity <= 1 ? true : null"
        >
          <fa-icon [icon]="minus"></fa-icon>
        </button>
        <!-- Quantity -->
        <input
          class="form-control text-center"
          type="number"
          style="flex-grow: 0; flex-basis: 75px"
          value="{{ quantity }}"
          readonly
        />
        <!-- Increase quantity by 1 -->
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="quantity = quantity + 1"
        >
          <fa-icon [icon]="plus"></fa-icon>
        </button>
      </div>
    </div>
    <!-- Add to cart -->
    <div class="col-sm-2 d-grid mb-3 p-0">
      <button
        class="btn btn-success"
        data-bs-toggle="tooltip"
        title="Add to Cart"
        (click)="addToCart()"
      >
        <fa-icon [icon]="check"></fa-icon>
      </button>
    </div>
  </div>
</div>
